@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 96.1%; /* #F5F5F5 */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 197 25% 58%; /* #79A3B1 */
    --primary-foreground: 240 10% 3.9%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 0 0% 90%;
    --muted-foreground: 240 5% 45%;
    --accent: 273 11% 65%; /* #A89BB1 */
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 197 25% 58%;
    --chart-1: 197 30% 50%;
    --chart-2: 273 20% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 197 25% 58%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 0 0% 92%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 197 25% 58%;
  }
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 197 25% 58%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 273 11% 65%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 197 25% 58%;
    --chart-1: 197 30% 50%;
    --chart-2: 273 20% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 6% 12%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 197 25% 58%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 240 4% 20%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 197 25% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
